<head>
  <title>Homebase Pull Requests </title>
  <link href="<%= url('/css/bootstrap.css') %>" rel="stylesheet" type="text/css" />
  <link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  
  <script src="/js/bootstrap.min.js"></script>

  <!-- refresh every 5 mins -->
  <!-- <meta http-equiv="refresh" content="300"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>